html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a2/Jack-o%27-Lantern_2003-10-31.jpg");
    color: white;
    text-shadow: 1px 1px 5px black;
}

article {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

header {
    text-align: center;
}

header>h1 {
    font-weight: 200;
    font-size: 50pt;
    margin-bottom: 10px;
    margin-top: 0px;
}

h2 {
    font-weight: 200;
    text-align: center;
}

main {
    align-self: center;
}

.image-wrapper {
    padding: 1rem;
}

footer {
    text-align: center;
}

img#random-image {
    cursor: pointer;
    max-height: 50rem;
    max-width: 100%;
}

img.skeleton {
    width: 5rem;
}

.rotate {
    animation: spin 6s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}